
.leftBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 5%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  z-index: 6;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border: 1px solid #170F46;
    background: #2C1D85;
    border-radius: 0 20px 20px 0;
    height: inherit;
    padding-top: 20px;
  }

  &__header-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  &__header-title {
    font-family: 'Lexend Peta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__menu-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  &__header-opened {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;

  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8%;
    width: 100%;
  }

}

.hidden {
  display: none;
}

.full-width {
  width: 300px;
}


