
.header {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  img {
    cursor: pointer;
  }

}

